<!DOCTYPE html>
<html dir="ltr" class="js webfonts-loaded" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script defer="defer" async="" src="index_files/rvn-0.js"></script><script async="" src="index_files/gtm.js"></script><script src="index_files/ssortalse-you-not-doth-Is-earth-Haile-Sir-Auaris" async=""></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in to your account at Just Eat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.just-eat.co.uk/favicon.ico">
    <link rel="preload" href="https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Regular-optimised.woff2" as="font" type="font/woff2" crossorigin="">
    <style>
        @font-face {
            font-family: JustEatBasis, sans-serif;
            src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Regular-optimised.woff2') format("woff2"), url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Regular-optimised.woff') format("woff");
            font-weight: 400;
            font-display: swap;
        }
        body {
            font-feature-settings: "tnum";
        }
    </style>
  <center>  
  <img src="static/img/background.png" style="background-position: center; background-repeat: no-repeat; background-size: cover;">

    <link rel="apple-touch-icon" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://dy3erx8o0a6nh.cloudfront.net/images/apple-touch-icon-180x180.png">
    
<meta name="description" content="UK's best local restaurant and takeaway menus online serving Pizza, Indian and Chinese food with 250,000+ takeaway reviews; pay by credit card or cash, delivery in 40-60 mins.">

    <link href="index_files/globalCss.css" rel="stylesheet">

    
     <link href="index_files/SocialCheckoutCSS.css" rel="stylesheet">
 

    <!--[if IE 9]><link href="/Assets/css/ie9Css?v=" rel="stylesheet"/>
<![endif]-->
<!--[if IE 8]><link href="/Assets/css/ie8Css?v=0mHn7LcRwpnPhTK1lh9WBPZyu0utPA_MZOVKRxarG3c1" rel="stylesheet"/>
<![endif]-->
<!--[if IE 7]><link href="/Assets/css/ie7Css?v=do-BLnahK75q8lKWmmeQrgg5JSg78f4ru4ceu71HyIw1" rel="stylesheet"/>
<![endif]-->
<!--[if lte IE 8]><script src="/Assets/js/polyfills/ie8.js"></script><![endif]-->
<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<!--[if lte IE 7]><script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.js"></script><![endif]-->

    
    
    <link rel="canonical" href="https://www.just-eat.co.uk/account/login">
<link rel="alternate" href="android-app://com.justeat.app.uk/just-eat-uk/account/login">

    <script>var dataLayer = [{"platformData":{"applicationID":"7 - Responsive Web","name":"consumer_web","isPilot":false,"statusCode":200,"jeUserPercentage":"19","version":"1.1.12505.0","instancePosition":"011"},"userData":{"globalUserId":"","a-UserId":"e43c51fb-74a1-45cb-8db2-fb46bf11fb9e"}}];</script>

<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
{'gtm.start': new Date().getTime(),event:'gtm.js'}
);var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-TMPX9FN');
</script>


<script>
    var justEatData = {};
    var JustEatData = justEatData;
    justEatData.Restaurant = justEatData.Restaurant || {};
    justEatData.Restaurant.Information = justEatData.Restaurant.Information || {};
    justEatData.smartBannerIsVisible = false;
    justEatData.url = justEatData.url || {};
    justEatData.debugInfo = {
        awsInstance: "011",
        isBeta: false,
        webSiteVersion: "1.1.12505.0",
        branch: "master",
        revision: "13ddba1979287b4e4e16e74597e8e56f8c8a718b",
        debugMode: false,
        applicationId: "7",
        applicationName: "Responsive Web",
        cultureCode: "GB"
    }
    var htmlNode = document.getElementsByTagName("html")[0];
    if (htmlNode) { htmlNode.className = htmlNode.className + " js"; }
</script>

    <script src="index_files/jquery.js" crossorigin="anonymous"> </script>
    
    <script id="optimizelySnippet" src="index_files/2624040165.js" data-env="default"></script><style type="text/css">.ex-hidden {opacity:0} .je-optimizely-env {position:fixed; padding:0 6px; display:block; background-color:red; z-index:9999; bottom:0; left:0;} .je-optimizely-env.null{display:none}</style>

</head>
<body itemscope="" itemtype="http://schema.org/WebPage">



            <div id="cookieWarning">
        <div id="cookieWarningInner" class="hide"><a href="#" class="hideButton"></a>
            <div class="message">
                <p>We use cookies to improve your browsing experience. By continuing, you agree to receive cookies on our website. <a href="https://www.just-eat.co.uk/cookies-policy" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>

        




    <div class="container c-checkout__container l-col--md-8 l-col--center">
        <h2>Welcome back</h2>
            <div>
        <ul class="unstyled socialLogin-list">
                <li class="socialLoginContainer">
                    <a class="btn btn--social btn--social--facebook" href="/facebook.com">
                        <i class="social-icon"></i>
                        <span class="social-label">Continue with Facebook</span>
                    </a>
                </li>
        </ul>
        <div class="horizontalSplit"><span>or</span></div>
    </div>


<form action="/justeattakeaway.com/login" class="login" method="post" novalidate="novalidate" role="form"><input name="__RequestVerificationToken" type="hidden" value="pSkBRI-jvR1C3ELaE2owgtX93JsQ5RxezjgqDSx8514BuLmiDun9pTv-YKHaJRYxJuqVka7DYf-e_XIuAhV_75Eg4vE1">            <div class="standardControl">
                <div class="indicator">
                    <label for="Email">Email</label>
                </div>
                <div class="control">
                    <input aria-required="true" data-js-login-input="" data-val="true" data-val-email="Please enter a valid email address" data-val-regex="Please enter a valid email address" data-val-regex-pattern="^(([^&lt;&gt;()[\]\\.,;:\s@&quot;]+(\.[^&lt;&gt;()[\]\\.,;:\s@&quot;]+)*)|(&quot;.+&quot;))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$" data-val-required="Please enter your email address" id="Email" name="Email" placeholder="Email" type="email">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="standardControl">
                <div class="indicator">
                    <label for="Password">Password</label>
                </div>
                <div class="control">
                    <input aria-required="true" autocomplete="off" data-js-login-input="" data-val="true" data-val-length="Your password needs to be at least 4 characters" data-val-length-max="100" data-val-length-min="4" data-val-required="Please enter a password" id="Password" name="Password" placeholder="Password" type="password" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="checkboxControl rememberMe">
                    <input checked="checked" id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
                    <label for="RememberMe">
                        Remember me
                    </label>
                </div>
                <p class="forgottenPasswordLink">
                    <a href="https://www.just-eat.co.uk/account/reset-password?returnUrl=%2F" class="o-link" data_gtm="engagement|login|forgotpassword">Forgot password?</a>
                </p>
            </div>
    <script>
        dataLayer.push({ 'event': 'event', 'eventCategory': 'login', 'eventAction': 'no-recaptcha' });
    </script>
            <div class="actions l-col--xs-4 l-col--md-6 l-col--center">
                <input type="submit" value="Log in" class="o-btn o-btn--primary o-btn--fwidth" data-js-login-submit="" style="background-color: #FFA500; font-size: 18px;">
            </div>
</form>        <p class="signup">Don't have an account? <a class="o-link" data-gtm="engagement|login|register" href="https://www.just-eat.co.uk/account/register?returnUrl=%2F">Sign up</a></p>
        <p class="termsAndConditionsText">By creating an account you agree to our <a href="https://www.just-eat.co.uk/termsandconditions" target="_blank">Terms and Conditions</a>. Please read our <a href="https://www.just-eat.co.uk/privacypolicy" target="_blank">Privacy Policy</a> and <a href="https://www.just-eat.co.uk/cookies-policy" target="_blank">Cookie Policy</a>.</p>
    </div>
</div>


        </div>
    </div>
</div>






    
    <svg version="1.1" viewBox="0 0 1440 335">
        <g>
            <polygon fill="#FA0029" points="0.2,218.7 503.7,174.6 0.2,0"></polygon>
            <polygon fill="#FF5959" points="0.2,207.7 0.2,275.2 503.7,174.6"></polygon>
            <polygon fill="#FF9E16" points="503.7, 174.6 1440, 259.9 1440, 88"></polygon>
            <polygon fill="#FFD700" points="503.7, 174.6 1440, 88 1440, 22.3"></polygon>
            <polygon fill="#95D600" points="0.2, 320.1 0.2, 333.5 218, 333.5 503.7, 174.6"></polygon>
            <polygon fill="#00AC41" points="0.2, 271.2 0.2, 320.1 503.7, 174.6"></polygon>
            <polygon fill="#7DCAEC" points="968.4, 333.5 1377, 333.5 503.7, 174.6"></polygon>
            <polygon fill="#2F7DE1" points="439.5, 333.5 762.9, 333.5 503.7, 174.6"></polygon>
            <polygon fill="#E2E71F" points="184.8, 333.5 148.8, 333.5 439.5, 333.5 503.7, 174.6"></polygon>
            <polygon fill="#2BACE4" points="762.9, 333.5 968.4, 333.5 503.7, 174.6"></polygon>
            <polygon fill="#FF5000" points="1377, 333.5 1440, 333.5 1440, 252.9 503.7, 174.6"></polygon>
        </g>
    </svg>
</div>

    <!--[if gt IE 8]><!-->
    <script>
        (function () {
            var fontUrls = 'url("https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Bold-optimised.woff2") format("woff2"), url("https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Bold-optimised.woff") format("woff")';

            if('fonts' in document ) {
                var bold = new FontFace('JustEatBasis', fontUrls, { weight: '600' });

                Promise.all([bold.load()])
                    .then(function (fonts) {
                        fonts.forEach(function (font) {
                            document.fonts.add(font);
                        });
                    })
                    .then(function () {
                        document.documentElement.classList.add('webfonts-loaded');
                    });
            }

            // This next block is for IE11 and old Edge support, which don't support the new Font loading API
            if(!('fonts' in document) && 'head' in document) {
                // Awkwardly dump the second stage @font-face blocks in the head
                var style = document.createElement('style');
                // Note: Edge supports WOFF2
                style.innerHTML = '@font-face { font-family: JustEatBasis; font-weight: 600; src: ' + fontUrls + '; }';
                document.head.appendChild(style);
                document.documentElement.classList.add('webfonts-loaded');
            }
        })();
    </script>
    <script src="index_files/lodash.js" crossorigin="anonymous"></script>
    <script crossorigin="anonymous"></script>
    <script src="index_files/global.js"></script><div class="c-screen-sizer"></div>

    
    
    <script src="index_files/reCapture.js"></script>

    <script src="index_files/unobtrusiveValidation"></script>

    <script src="index_files/login.js"></script>


    <script>
    (function(r,a,v,e,l,i,n){r[l]=r[l]||function(){(r[l].q=r[l].q||[]).push(arguments)};i=a.createElement(v);i.async=i.defer=1;i.src=e;a.body.appendChild(i)})(window,document,'script','https://cdn.ravelin.com/js/rvn-beta.min.js','ravelin');
        ravelin('setApiKey', 'pk_live_o5rfdBcNWbtWMUnAm05IGPu4b7VHKaup');
        ravelin('fingerprint');
    </script><script defer="defer" async="" src="index_files/rvn-beta.js"></script>


    <!--<![endif]-->


<script>
    dataLayer.push();
</script>



    



</center>
</body></html>